# Local
# GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback
# NEXT_PUBLIC_APP_URL=http://localhost:3000

# Vercel (đổi YOUR-PROJECT thành domain thật)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://YOUR-PROJECT.vercel.app/api/auth/callback
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=
UPLOAD_API_KEY=
NEXT_PUBLIC_APP_URL=https://YOUR-PROJECT.vercel.app
